body{
    background: url(HDC-VOL-CONSOLA-1.jpg) #000;
    background-size: cover;
    color: #fff;
    
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(50, 60, 68)
}
li{
    float: left;
}
li a{
    display:block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}
li a:hover{
    background-color: black;
}
button{
    background-size: 20px;
    padding: 14.5px;
    font-weight: 300;
    font-style: italic;
    text-decoration: none;
    font-family:Helvetica;
    color:black;
    border: 3px double rgb(62, 60, 65);
   }
   .button:hover{
       opacity:0.6;
       text-decoration: none;
   }